.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-btn {
  background: none;
  border: none;
}
header {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
}
